@page "/"

<h1 class="text-center">Greetings Hacker</h1>

<div class="img-fluid" align="center">
    <figure>
        <img src="https://www.memeatlas.com/images/pepeThumbnails/pepe-fancy-smoking-cigar-served-by-seething-wojak-thumbnail.jpg" title="Average Cabal of Programmers Member" alt="Pepe the Frog" style="margin: 20px 20px 20px 20px;"/>
        <figcaption>
            Average Chad Senior Developer
        </figcaption>
    </figure>
</div>

<p class="text-body">Have you ever wanted to be <strong>edgy but cool</strong> at the same time? Well, now you can with the leet group of nerds we have assembled.</p>

<blockquote class="blockquote text-center">
    <p class="mb-0">"I would sell my children to maintain functional purity."</p>
    <footer class="blockquote-footer">TorNATO</footer>
</blockquote>